.painel-produto{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.caixa-produto{
  border-radius: 5px;
  width: 220;
  max-width: 350;
  overflow: hidden;
  padding: 10px;
}


.container-fluid{
  background-color: green;
}

.btn-primary{
  background-color: green;
}

.btn-hover{
  background-color: white !important;
  color: black;
  border-radius: green;
}

.form-pesquisa{
  width: 50vw;
  margin-bottom: 25px;

}

.formulario{
  width: 40vw;
}

